<div class="row">
    <div class="col-12 barNavigation">
        <button type="button" class="btnNavigationR" (click)="onCancel()">Regresar</button>
    </div>
    <hr class="hrblack" />

    <label class="title">Eliminar candidato</label>
    <hr class="hrblack" />

    <div class="candidato-delete" fxLayout="column wrap" fxLayoutGap="10px">
        <div class="delete-group" fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Nombre:</strong></div>
            <div fxFlex>{{cand.Nombre}}</div>
        </div>
        <div class="delete-group" fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Fecha de nacimiento:</strong></div>
            <div fxFlex>{{cand.FechaDelNacimiento}}</div>
        </div>
        <div class="delete-group" fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Telefono:</strong></div>
            <div fxFlex>{{cand.Telefono}}</div>
        </div>
        <div class="delete-group" fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Correo personal</strong></div>
            <div fxFlex>{{cand.CorreoPersonal}}</div>
        </div>
        <div class="delete-group" fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Direccion:</strong></div>
            <div fxFlex>{{cand.Direccion}}</div>
        </div>
        <div class="delete-group" fxLayout="row wrap" fxFlex>
            <div fxFlex><strong>Estatus candidado id:</strong></div>
            <div fxFlex>{{cand.EstatusCandidadoId}}</div>
        </div>
        <div class="div-btn-delete">
            <button class="btnNavigationDelete" (click)="deleteRecord()">Delete</button>
        </div>
    </div>
</div>