<label class="title">Empresas</label>
<hr class="hrblack" />

<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>RFC</th>
        <th>Tipo de Empresa</th>
        <th>Activa</th>
        <th>Fecha de Constitución</th>
        <th>Giro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas.value">
        <td>{{ empresa.Nombre }}</td>
        <td>{{ empresa.RFC }}</td>
        <td>{{ empresa.TipoDeEmpresaId }}</td>
        <td>{{ empresa.Activa }}</td>
        <td>{{ empresa.FechaDeConstitucion }}</td>
        <td>{{ empresa.Giro }}</td>
      </tr>
    </tbody>
  </table>
  
  
