.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    gap: 16px;
  }
  
  .centered-icon {
    display: flex;
  align-items: center;
  }
  
  .warning-icon {
    font-size: 50px;
    width: 100px;
    height: auto;
  }
  
  .centered-buttons {
    justify-content: center;
  }
  